__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
installable/
*.exe
certs/

# Ignore large archives, PDFs and PNGs
archive/**/*.zip
archive/**/*.pdf
archive/**/*.png
archive/test_IDE/
*.zip
*.pdf
*.png
